# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Large model files
*.h5
*.keras

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db